<nav id="header">
    <div class="nav-logo">
        <p class="nav-name">marcvindeldev</p>
        <span>.</span>
    </div>
    <div class="nav-menu" id="myNavMenu">
        <ul class="nav_menu_list">
            <li class="nav_list">
                <a routerLink="" fragment="home" class="nav-link active-link">Inici</a>
                <div class="circle"></div>
            </li>
            <li class="nav_list">
                <a routerLink="" fragment="about" class="nav-link">Sobre mi</a>
                <div class="circle"></div>
            </li>
            <li class="nav_list">
                <a routerLink="" fragment="projects" class="nav-link">Projectes</a>
                <div class="circle"></div>
            </li>
            <li class="nav_list">
                <a routerLink="" fragment="contact" class="nav-link">Contacte</a>
                <div class="circle"></div>
            </li>
        </ul>
    </div>
    <div class="nav-menu-btn">
        <i class="uil uil-bars" onclick="myMenuFunction()"></i>
    </div>
</nav>
