<footer>
    <div class="top-footer">
        <p>marcvindeldev .</p>
    </div>
    <div class="middle-footer">
        <ul class="footer-menu">
            <li class="footer_menu_list">
                <a routerLink="" fragment="home">Inici</a>
            </li>
            <li class="footer_menu_list">
                <a routerLink="" fragment="about">Sobre mi</a>
            </li>
            <li class="footer_menu_list">
                <a routerLink="" fragment="projects">Projectes</a>
            </li>
            <li class="footer_menu_list">
                <a routerLink="" fragment="contact">Contacte</a>
            </li>
        </ul>
    </div> 
    <div class="social_icons_bottom">
        <a href="https://www.instagram.com/marcvindel_/" target="_blank"><div class="icon"><i class="uil uil-instagram"></i></div></a>
        <div class="icon"><i class="uil uil-linkedin-alt"></i></div>
        <div class="icon"><i class="uil uil-twitter"></i></div>
        <a href="https://github.com/mvindel-dev" target="_blank"><div class="icon"><i class="uil uil-github-alt"></i></div></a>
    </div>
    <div class="bottom-footer">
        <p>&copy; 2024<a routerLink="" fragment="home" style="text-decoration: none;"> Marc Vindel Marsal</a> - Tots els drets reservats
        </p>
    </div>
</footer>