<section class="featured-box" id="home">
    <div class="featured-text">
        <div class="featured-text-card">
            <span>Marc Vindel Marsal</span>
        </div>
        <div class="featured-name">
            <p>Soc <span class="typedText"></span></p>
        </div>
        <div class="featured-text-info">
            <p>
                Hola, sóc un desenvolupador Full Stack amb experiència en la creació d'aplicacions web i mòbils
                completes. Domino tecnologies com HTML, CSS i JavaScript al front-end, juntament amb
                frameworks com Angular, React, Vue i Ionic. Al back-end, utilitzo Node.js i PHP i bases de dades com MySQL i
                MongoDB. Destaco per la meva capacitat per treballar en equips multidisciplinaris i per la
                meva voluntat constant de millora.
            </p>
        </div>
        <div class="featured-text-btn">
            <button class="btn blue-btn">Contacta'm</button>
            <button class="btn" (click)="download()">Descarrega el meu CV <i class="uil uil-file-alt"></i></button>
        </div>
        <div class="social_icons">
            <a href="https://www.instagram.com/marcvindel_/" target="_blank"><div class="icon"><i class="uil uil-instagram"></i></div></a>
            <div class="icon"><i class="uil uil-linkedin-alt"></i></div>
            <div class="icon"><i class="uil uil-twitter"></i></div>
            <a href="https://github.com/mvindel-dev" target="_blank"><div class="icon"><i class="uil uil-github-alt"></i></div></a>
        </div>
    </div>
    <div class="featured-image">
        <div class="image">
            <img src="/assets/img/profile.png" alt="avatar">
        </div>
    </div>
    <div class="scroll-icon-box">
        <a routerLink="" fragment="about" class="scroll-btn">
            <i class="uil uil-mouse-alt"></i>
            <p>Desplaça avall</p>
        </a>
    </div>

</section>
