<section class="section" id="projects">
    <div class="top-header">
        <h1>Projectes realitzats</h1>
    </div>
    <div class="project-container">
        <div class="project-box egma" >
            <h3>EGMA Solutions</h3>
            <a href="https://egmasolutions.com/home" target="_blank" class="project-link"><i class="uil uil-external-link-alt"></i></a>
        </div>
        <div class="project-box gastrobacus">
            <h3>Gastrobacus</h3>
            <a href="https://gastrobacus.netlify.app" target="_blank" class="project-link"><i class="uil uil-external-link-alt"></i></a>
            <label>Usuari: tester</label>
            <label>Contrasenya: 12345678</label>
        </div>
        <div class="project-box el-mirall">
            <h3>El Mirall Escola de Ball</h3>
            <a href="https://elmirallescoladeball.com/inici" target="_blank" class="project-link"><i class="uil uil-external-link-alt"></i></a>
        </div>
    </div>
</section>
